/* vars */
/* mixins */
.clear {
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
}
/* default */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ccc;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
/* container */
.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 320px;
}
/* navigation default */
nav[role="multi-tier"] {
  margin: 0;
  padding: 0;
  display: block;
  /* global + first tier */
  /* second tier */
  /* third tier */
  /* hide sub navigation items */
  /* has sub navigation */
}
nav[role="multi-tier"] a {
  color: #333;
  display: block;
}
nav[role="multi-tier"] a:hover {
  color: tomato !important;
}
nav[role="multi-tier"] ul,
nav[role="multi-tier"] ul li {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  list-style: none;
  background-color: #383838;
}
nav[role="multi-tier"] > ul > li {
  border-bottom: 1px solid #383838;
}
nav[role="multi-tier"] > ul > li:last-child {
  border: 0;
}
nav[role="multi-tier"] > ul > li a {
  padding: 0.6em 1em 0.6em 1em;
  width: calc(100% - 4em);
  text-decoration: none;
}
nav[role="multi-tier"] > ul > li > a {
  color: #eee !important;
  background-color: #666;
}
nav[role="multi-tier"] ul li > ul > li a {
  color: #333 !important;
  background-color: #999;
}
nav[role="multi-tier"] ul li > ul li > ul > li a {
  color: #333 !important;
  background-color: #ccc;
}
nav[role="multi-tier"] ul * ul {
  display: none;
}
nav[role="multi-tier"] li.has-sub {
  position: relative;
  height: 100%;
}
nav[role="multi-tier"] li.has-sub:after {
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
}
nav[role="multi-tier"] li.has-sub span {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 100%;
  background-image: url('../img/chev-box.svg');
  background-position: top right;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
}
nav[role="multi-tier"] li.has-sub.open > ul {
  display: block;
}
