/* vars */

@base_font:'Open Sans', sans-serif;
@max-width:320px;

/* mixins */

.clear {
    font-size:0;
    content:" ";
    clear:both;
    height:0;
    line-height:0;
    visibility:hidden;
    display:block;
}

/* default */

html, body {
    margin:0;
    padding:0;
    border:0;
    background-color:#ccc;
    color:#333;
    font-family:@base_font;
}

/* container */
.container { margin:0 auto; padding:0; width:100%; max-width:@max-width; }

/* navigation default */

nav[role="multi-tier"] {

    margin:0;
    padding:0;
    display:block;

    a { color:#333; display:block; }
    a:hover { color:tomato !important; }

    /* global + first tier */

    ul,
    ul li {
        margin:0;
        padding:0;
        border:0;
        display:block;
        list-style:none;
        background-color:rgb(56, 56, 56);
    }
    > ul > li { border-bottom:1px solid rgb(56, 56, 56); }
    > ul > li:last-child { border:0; }
    > ul > li a {
        padding:0.6em 1em 0.6em 1em;
        width:calc( 100% - 4em );
        text-decoration:none;
    }
    > ul > li > a {
        color:#eee !important;
        background-color:#666;
    }

    /* second tier */

    ul li > ul > li a {
        color:#333 !important;
        background-color:#999;
    }

    /* third tier */

    ul li > ul li > ul > li a {
        color:#333 !important;
        background-color:#ccc;
    }

    /* hide sub navigation items */ 

    ul * ul { display:none; }

    /* has sub navigation */

    li.has-sub { position:relative; height:100%; }
    li.has-sub:after { .clear; }
    li.has-sub span {
        position:absolute;
        top:0;
        right:0;
        width:2em;
        height:100%;
        background-image:url('../img/chev-box.svg');
        background-position:top right;
        background-size:32px 32px;
        background-repeat:no-repeat;
        cursor:pointer;
        display:block;
    }
    li.has-sub.open > ul {
        display:block;
    }

}